/* GENERAL */
body {
    width: 600px;
    margin: 50px;
    font-family: Helvetica, Arial, sans-serif, serif, Arial;

    /* border: 1px solid #ccc;

    text-align: center;

    margin: 50px auto;

    padding: 20px;

    max-width: 800px; */
}

/* HEADING */
h1,
h3 {
    color: rgb(17, 68, 179);
}

/* FOOTER */
footer a:hover,
footer a:active {
    color: blueviolet;
}